In [58]:
import py_entitymatching as em
import pandas as pd
import os,sys
import math

In [59]:
## Reading csv tables into pandas dataframe

A=em.read_csv_metadata('Data/csv/yelp_list.csv')
A['ID'] = range(0,len(A))
em.set_key(A,'ID')


B=em.read_csv_metadata('Data/csv/zomato_list.csv')
B['ID'] = range(0,len(B))
em.set_key(B,'ID')

WARNING:py_entitymatching.io.parsers:Metadata file is not present in the given path; proceeding to read the csv file.
WARNING:py_entitymatching.io.parsers:Metadata file is not present in the given path; proceeding to read the csv file.

True

In [60]:
##Data Cleaning1: Converting  price range to an absolute number. Will be applied for yelp list 


def clean_price_range( price_str ):

    avg_price = ''
    
    if not isinstance(price_str,basestring)  and  math.isnan(price_str):
        return price_str

    str2 = price_str.replace('$','')
        
    if '-' in str2:
        num_l = int(str2.split('-')[0])
        num_r = int(str2.split('-')[1])
        num_avg = (num_l+num_r)/2
        avg_price = '$' + str(num_avg)

    else:
        str_word = str2.split()[0].lower()
        num_price  = int(str2.split()[1])
        
        if str_word == 'above':
            num_avg = int(num_price + num_price/2)
            avg_price = '$' + str(num_avg)

        else:
            num_avg = num_price/2
            avg_price = '$' + str(num_avg)
            
    return avg_price

In [61]:
##Data Cleaning2: Removing "reviews" string from num_reviews column. Will be applied for zomato list


def clean_num_reviews(review_string) :
      return int(review_string.split()[0])

In [62]:
##Data Cleaning3: Removing "restaurant" if it is the last word in restaurant name. to prevent inconsistentcy.Will be applied
## for both lists


def clean_name( name_str):

    name_lower = name_str.lower()

    name_2 = name_lower.split()[-1]
    
    if name_2 == 'restaurant':
        name_lower = name_lower.replace('restaurant','')
        
    return name_lower

In [63]:
##Data Cleaning4: Removing quotes and shortening some words in address.Will be applied for both zomato list
## only zomato 

def clean_address( address ):
    addr_2 = address.replace('\"','')
    addr_3 = addr_2.replace(',','')
    if "Street" in addr_3:
        addr_3 = addr_3.replace('Street','St')
    if "Boulevard" in addr_3:
        addr_3 = addr_3.replace('Boulevard','Blvd')
        
    return addr_3

In [64]:
def clean_rating_value(ratingValue):
    return str(ratingValue)

In [65]:
########## DATA CLEANING ################

A['price_range'] = A['price_range'].apply( clean_price_range )
A['name'] = A['name'].apply( clean_name )
A['ratingValue'] = A['ratingValue'].apply(clean_rating_value)



B['name'] = B['name'].apply( clean_name )
B['address'] = B['address'].apply( clean_address )
B['number_of_reviews'] = B['number_of_reviews'].apply( clean_num_reviews )
B['ratingValue'] = B['ratingValue'].apply(clean_rating_value)

In [66]:
#To find missing values 
len(A.ID) - A.count()

number_of_reviews     0
price_range          44
ratingValue           0
name                  0
address               0
ID                    0
dtype: int64

In [67]:
len(B.ID) - B.count()

number_of_reviews    0
price_range          0
ratingValue          0
name                 0
address              0
ID                   0
dtype: int64

In [68]:
block_f = em.get_features_for_blocking(A,B)

In [69]:
block_f

,feature_name,left_attribute,right_attribute,left_attr_tokenizer,right_attr_tokenizer,simfunction,function,function_source,is_auto_generated
0,number_of_reviews_number_of_reviews_exm,number_of_reviews,number_of_reviews,None,None,exact_match,<function number_of_reviews_number_of_reviews_exm at 0x7f729912e0c8>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
1,number_of_reviews_number_of_reviews_anm,number_of_reviews,number_of_reviews,None,None,abs_norm,<function number_of_reviews_number_of_reviews_anm at 0x7f729912e140>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
2,number_of_reviews_number_of_reviews_lev_dist,number_of_reviews,number_of_reviews,None,None,lev_dist,<function number_of_reviews_number_of_reviews_lev_dist at 0x7f729912e2a8>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
3,number_of_reviews_number_of_reviews_lev_sim,number_of_reviews,number_of_reviews,None,None,lev_sim,<function number_of_reviews_number_of_reviews_lev_sim at 0x7f729912e758>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
4,price_range_price_range_lev_dist,price_range,price_range,None,None,lev_dist,<function price_range_price_range_lev_dist at 0x7f729912e320>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
5,price_range_price_range_lev_sim,price_range,price_range,None,None,lev_sim,<function price_range_price_range_lev_sim at 0x7f729912eb18>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
6,price_range_price_range_jar,price_range,price_range,None,None,jaro,<function price_range_price_range_jar at 0x7f729912e7d0>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
7,price_range_price_range_jwn,price_range,price_range,None,None,jaro_winkler,<function price_range_price_range_jwn at 0x7f729912e938>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
8,price_range_price_range_exm,price_range,price_range,None,None,exact_match,<function price_range_price_range_exm at 0x7f729912e848>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
9,price_range_price_range_jac_qgm_3_qgm_3,price_range,price_range,qgm_3,qgm_3,jaccard,<function price_range_price_range_jac_qgm_3_qgm_3 at 0x7f729912e8c0>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
10,ratingValue_ratingValue_lev_dist,ratingValue,ratingValue,None,None,lev_dist,<function ratingValue_ratingValue_lev_dist at 0x7f729912ef50>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
11,ratingValue_ratingValue_lev_sim,ratingValue,ratingValue,None,None,lev_sim,<function ratingValue_ratingValue_lev_sim at 0x7f729912eed8>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
12,ratingValue_ratingValue_jar,ratingValue,ratingValue,None,None,jaro,<function ratingValue_ratingValue_jar at 0x7f729912e9b0>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
13,ratingValue_ratingValue_jwn,ratingValue,ratingValue,None,None,jaro_winkler,<function ratingValue_ratingValue_jwn at 0x7f729912e230>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
14,ratingValue_ratingValue_exm,ratingValue,ratingValue,None,None,exact_match,<function ratingValue_ratingValue_exm at 0x7f7298ae7050>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
15,ratingValue_ratingValue_jac_qgm_3_qgm_3,ratingValue,ratingValue,qgm_3,qgm_3,jaccard,<function ratingValue_ratingValue_jac_qgm_3_qgm_3 at 0x7f7298ae70c8>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
16,name_name_jac_qgm_3_qgm_3,name,name,qgm_3,qgm_3,jaccard,<function name_name_jac_qgm_3_qgm_3 at 0x7f7298ae7140>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
17,name_name_cos_dlm_dc0_dlm_dc0,name,name,dlm_dc0,dlm_dc0,cosine,<function name_name_cos_dlm_dc0_dlm_dc0 at 0x7f7298ae71b8>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
18,name_name_jac_dlm_dc0_dlm_dc0,name,name,dlm_dc0,dlm_dc0,jaccard,<function name_name_jac_dlm_dc0_dlm_dc0 at 0x7f7298ae7230>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
19,name_name_mel,name,name,None,None,monge_elkan,<function name_name_mel at 0x7f7298ae72a8>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
20,name_name_lev_dist,name,name,None,None,lev_dist,<function name_name_lev_dist at 0x7f7298ae7320>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
21,name_name_lev_sim,name,name,None,None,lev_sim,<function name_name_lev_sim at 0x7f7298ae7398>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
22,name_name_nmw,name,name,None,None,needleman_wunsch,<function name_name_nmw at 0x7f7298ae7410>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
23,name_name_sw,name,name,None,None,smith_waterman,<function name_name_sw at 0x7f7298ae7488>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
24,address_address_jac_qgm_3_qgm_3,address,address,qgm_3,qgm_3,jaccard,<function address_address_jac_qgm_3_qgm_3 at 0x7f7298ae7500>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
25,address_address_cos_dlm_dc0_dlm_dc0,address,address,dlm_dc0,dlm_dc0,cosine,<function address_address_cos_dlm_dc0_dlm_dc0 at 0x7f7298ae7578>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
26,address_address_mel,address,address,None,None,monge_elkan,<function address_address_mel at 0x7f7298ae75f0>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
27,address_address_lev_dist,address,address,None,None,lev_dist,<function address_address_lev_dist at 0x7f7298ae7668>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
28,address_address_lev_sim,address,address,None,None,lev_sim,<function address_address_lev_sim at 0x7f7298ae76e0>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
29,ID_ID_exm,ID,ID,None,None,exact_match,<function ID_ID_exm at 0x7f7298ae7758>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
30,ID_ID_anm,ID,ID,None,None,abs_norm,<function ID_ID_anm at 0x7f7298ae77d0>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
31,ID_ID_lev_dist,ID,ID,None,None,lev_dist,<function ID_ID_lev_dist at 0x7f7298ae7848>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
32,ID_ID_lev_sim,ID,ID,None,None,lev_sim,<function ID_ID_lev_sim at 0x7f7298ae78c0>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True

In [72]:
##Rule based on restaurant name similarity, 0.80 score is derived from debugging blocking output
rb1 = em.RuleBasedBlocker()
rule1 = 'name_name_lev_sim(ltuple,rtuple) < 0.80'
rb1.add_rule(rule1, block_f )

##Rule based on address similarity
rb2 = em.RuleBasedBlocker()
rule2 = 'address_address_jac_qgm_3_qgm_3(ltuple,rtuple) < 0.7'
rb2.add_rule(rule2,block_f)

'_rule_0'

In [73]:
## To block based on zipcode equivalence

def zipcode_match(x, y):
    # x, y will be of type pandas series
    
    # get address attribute
    x_address = x['address']
    y_address = y['address']
    
    # get the zipcode
    x_split, y_split = x_address.split(), y_address.split()
    x_zipcode = x_split[len(x_split) - 1]
    y_zipcode = y_split[len(y_split) - 1]
    
    # check if the zipcode match
    if x_zipcode != y_zipcode:
        return True
    else:
        return False

In [74]:
# Instantiate blackbox blocker
bb = em.BlackBoxBlocker()

# Set the black box function
bb.set_black_box_function(zipcode_match)

In [ ]:
## Blocking Pipeline- First block based on zip code then block based on address similarity##

C1 = bb.block_tables(A,B,l_output_attrs=['ID','name','address','ratingValue','price_range','number_of_reviews'],r_output_attrs=['ID','name','address','ratingValue','price_range','number_of_reviews'],n_jobs=-1)

C2 = rb2.block_candset(C1,n_jobs=-1)

###Direct name blocker###
C3 = rb1.block_tables(A,B,l_output_attrs=['ID','name','address','ratingValue','price_range','number_of_reviews'],r_output_attrs=['ID','name','address','ratingValue','price_range','number_of_reviews'],n_jobs=-1)

## Direct Address blocker not enabled##
#C2 = rb2.block_tables(A,B,l_output_attrs=['ID','name','address','ratingValue','price_range','number_of_reviews'],r_output_attrs=['ID','name','address','ratingValue','price_range','number_of_reviews'])

C4 = em.combine_blocker_outputs_via_union([C2, C3])

0%                          100%
[############                  ] | ETA: 00:08:59 | ETA: 00:08:35 | ETA: 00:08:13 | ETA: 00:08:23 | ETA: 00:08:11 | ETA: 00:07:53 | ETA: 00:07:59 | ETA: 00:07:30 | ETA: 00:07:02 | ETA: 00:06:50 | ETA: 00:06:42 | ETA: 00:06:33

In [17]:
## Debugging blocker to make sure true positives are not left out in candidate set
dbg = em.debug_blocker(C4,A,B,output_size=400)

In [18]:
dbg

,_id,similarity,ltable_ID,rtable_ID,ltable_number_of_reviews,ltable_price_range,ltable_ratingValue,ltable_name,ltable_address,rtable_number_of_reviews,rtable_price_range,rtable_ratingValue,rtable_name,rtable_address
0,0,0.538462,2365,1834,16,$5,4.0,beto’s mexican,3518 E 7th St Austin TX 78702,19,$40,3.2,angie's mexican,1307 E 7th St Austin TX 78702
1,1,0.538462,2433,563,367,$45,4.0,place pigalle,81 Pike St Seattle WA 98101,43,$110,3.8,maximilien,Pike Place Market 81 Pike St Seattle WA 98101
2,2,0.538462,1391,1606,1396,$5,4.5,torchy’s tacos,1311 S 1st St Austin TX 78704,17,$40,3.7,mellizoz tacos,1503 S 1St St Austin TX 78704
3,3,0.529412,1927,1107,225,$20,3.5,maudie’s milagro,3801 N Capital Of Texas Hwy Austin TX 78746,11,$65,4.0,360 uno,3801 N Capital of Texas Hwy Suite G100 Austin TX 78746
4,4,0.529412,1717,1192,1013,$5,4.0,pho y #1,1660 E Capitol Expy San Jose CA 95121,2,$70,3.8,pho y #1 noodle house,1660 East Capitol Expressway San Jose CA 95121
5,5,0.500000,1652,1483,266,$20,4.0,bocaphê,222 Lafayette St New York NY 10012,17,$70,4.1,cuba,222 Thompson St New York NY 10012
6,6,0.500000,1032,727,423,$20,4.0,55 south,55 S 1st St San Jose CA 95113,4,$70,3.4,nemea,96 South 1st St San Jose CA 95113
7,7,0.500000,2143,159,212,$20,4.0,balzem,202 Mott St New York NY 10012,212,$140,4.5,balthazar,80 Spring St New York NY 10012
8,8,0.500000,1219,1251,26,$20,4.5,treehaus mima,470 W 42nd St New York NY 10036,26,$15,4.2,schmackary's,362 W 45th St New York NY 10036
9,9,0.500000,2997,18,821,$20,3.0,the cheesecake factory,925 Blossom Hill Road San Jose CA 95123,8,$80,4.3,bj's,Westfield Oakridge 925 Blossom Hill Road San Jose CA 95123
10,10,0.500000,2648,1189,4,$5,5.0,los pambazos,1358 S Winchester Blvd San Jose CA 95128,4,$13,3.2,khanh's,335 South Winchester Blvd San Jose CA 95128
11,11,0.500000,1828,2261,36,$20,3.5,poketown,177 Hester St New York NY 10013,36,$120,3.7,thalassa,179 Franklin St New York NY 10013
12,12,0.500000,1448,1175,183,$20,4.5,cafe eden,2 N 1st St San Jose CA 95113,2,$13,3.2,cream,49 S 1st St San Jose CA 95113
13,13,0.500000,1814,367,49,$20,4.5,kategna ethiopian,1663 W San Carlos St San Jose CA 95128,7,$80,3.5,gojo ethiopian,1261 W San Carlos St San Jose CA 95126
14,14,0.500000,2685,2247,228,$20,4.0,norikoh,10 E 39 St New York NY 10016,10,$50,4.0,ginger man,11 E 36th St New York NY 10016
15,15,0.500000,239,463,64,$20,4.5,le pif,465 W 23rd St New York NY 10011,39,$75,4.3,alta,64 W 10th St New York NY 10011
16,16,0.500000,1038,2379,491,$20,3.5,izakaya,1335 N 1st St San Jose CA 95112,1,$20,3.2,ihop,644 N 1st St Downtown San Jose CA 95112
17,17,0.500000,1774,1731,7,NaN,5.0,lua brazil,2600 E Cesar Chavez St Austin TX 78702,7,$10,3.3,mr. natural,1901 E Cesar Chavez St TX 78702
18,18,0.500000,2143,219,212,$20,4.0,balzem,202 Mott St New York NY 10012,212,$140,4.5,balthazar,80 Spring St New York NY 10012
19,19,0.500000,1048,2283,15,$45,4.0,tavo,615 Hudson St New York NY 10014,15,$75,3.5,santina,820 Washington St New York NY 10014
20,20,0.500000,3033,3137,6,NaN,4.5,ousia,629 W 57th St New York NY 10019,6,$120,3.1,the wayfarer,101 West 57th St New York NY 10019
21,21,0.500000,29,3071,198,$20,4.0,corner,110 E 2nd St Austin TX 78701,1,$70,3.1,corner restaurant - jw marriott,110 First Floor E 2nd St Austin TX 78701
22,22,0.500000,2201,1834,68,$5,3.5,los comales mexican,2136 E 7th St Austin TX 78702,19,$40,3.2,angie's mexican,1307 E 7th St Austin TX 78702
23,23,0.500000,128,1025,1488,$20,4.5,amélie,22 W 8th St New York NY 10011,22,$110,4.0,basta pasta,37 W 17th St New York NY 10011
24,24,0.500000,1032,587,423,$20,4.0,55 south,55 S 1st St San Jose CA 95113,1,$35,3.0,k.zzang,78 South 1st St San Jose CA 95113
25,25,0.500000,1565,549,27,$20,4.5,zaina,9525 Aurora Avenue North Seattle WA 98103,27,$75,4.0,chiso,3520 Fremont Avenue North Seattle WA 98103
26,26,0.500000,2142,2700,42,$20,4.0,bessou,5 Bleecker St New York NY 10012,5,$25,3.6,faicco's,260 Bleecker St New York NY 10014
27,27,0.500000,1384,2785,24,$20,4.0,honeybrains,372 Lafayette St New York NY 10012,24,$100,3.8,balaboosta,214 Mulberry St New York NY 10012
28,28,0.500000,2670,2580,22,$5,4.0,crepes & more,87 N San Pedro St San Jose CA 95110,1,$20,2.5,arepa & mas,San Pedro Square Market 87 N San Pedro St San Jose CA 95110
29,29,0.470588,2075,2052,160,$5,4.0,lee’s house chinese takeout,6187 Santa Teresa Blvd San Jose CA 95123,1,$40,3.6,golden house chinese,7108 Santa Teresa Blvd San Jose CA 95139
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
370,370,0.428571,2448,303,6,$5,2.5,savoy,1144 N 4th St San Jose CA 95112,7,$20,3.9,minato,617 N 6th St San Jose CA 95112
371,371,0.428571,3052,2318,16,$20,4.0,ghost donkey,4 Bleecker St New York NY 10012,16,$40,3.9,pasticceria rocco,243 Bleecker St New York NY 10014
372,372,0.428571,2168,134,28,$5,4.5,atx jamaican grill,2201 S 1st St Austin TX 78704,96,$20,4.6,gourdough's,1503 S 1st St Austin TX 78704
373,373,0.428571,2152,2683,62,$5,4.5,beetle cafe,4334 Univeristy Way NE Seattle WA 98105,6,$20,3.4,cafe solstice,4116 University Way NE Seattle WA 98105
374,374,0.428571,3074,2334,5,$20,5.0,sweetgreen,66 E 55th St New York NY 10022,14,$150,3.5,felidia,243 E 58th St New York NY 10022
375,375,0.428571,3033,2268,6,NaN,4.5,ousia,629 W 57th St New York NY 10019,19,$230,3.7,betony,41 West 57th St New York NY 10019
376,376,0.428571,2450,1281,1511,$5,3.5,iguanas,330 S 3rd St San Jose CA 95112,2,$13,3.3,smokeaters,29 S 3rd St San Jose CA 95113
377,377,0.428571,2529,1034,12,$5,4.5,mr. panzerotto,124 Macdougal St New York NY 10012,26,$80,4.0,hundred acres,38 MacDougal St New York NY 10012
378,378,0.428571,2051,2998,15,$5,3.5,new york kimchi,102 Macdougal St New York NY 10012,15,$45,3.8,macbar,54 Prince St New York NY 10012
379,379,0.428571,2944,3180,241,$20,3.5,chosun korean bbq,713 E Huntland Dr Austin TX 78752,3,$60,3.5,chosun galbi,713 E Huntland Drive TX 78752
380,380,0.428571,2877,1249,1213,$20,4.0,fish,280 Bleecker St New York NY 10014,23,$150,4.0,mary's fish camp,64 Charles St New York NY 10014
381,381,0.428571,3237,1221,36,$45,4.5,king,18 King St New York NY 10014,18,$150,3.9,en japanese brasserie,435 Hudson St New York NY 10014
382,382,0.428571,2728,53,189,$5,4.5,bombay dhaba,1207 S 1st St Austin TX 78704,52,$45,3.9,polvo's mexican,2004 S 1st St Austin TX 78704
383,383,0.428571,3030,2291,3,NaN,4.5,doughnuttery,One W 58th St New York NY 10019,20,$120,3.6,benoit,60 W 55th St New York NY 10019
384,384,0.428571,3111,1595,8,$20,4.0,marisco grill,9515 N Lamar Blvd Austin TX 78753,13,$50,3.3,santorini cafe,11800 N Lamar Blvd Austin TX 78753
385,385,0.428571,2729,520,184,$45,4.0,periyali,35 W 20th St New York NY 10011,36,$75,4.3,boqueria,53 W 19th St New York NY 10011
386,386,0.428571,3033,1229,6,NaN,4.5,ousia,629 W 57th St New York NY 10019,23,$60,3.9,danji,346 W 52nd St New York NY 10019
387,387,0.428571,3142,1157,237,$5,4.0,@yc,347 E Taylor St San Jose CA 95112,1,$50,3.5,dalat,408 E William St San Jose CA 95112
388,388,0.428571,3074,166,5,$20,5.0,sweetgreen,66 E 55th St New York NY 10022,90,$150,4.3,tao,42 E 58th St New York NY 10022
389,389,0.428571,2579,1782,22,$45,4.0,marine hardware,4741 Ballard Ave NW Seattle WA 98107,22,$40,3.7,shiku sushi,5310 Ballard Avenue NW Seattle WA 98107
390,390,0.428571,3074,2312,5,$20,5.0,sweetgreen,66 E 55th St New York NY 10022,12,$85,4.0,hillstone,153 E 53rd St New York NY 10022
391,391,0.428571,2849,914,97,$5,4.0,austin’s habibi,817 W 5th St Austin TX 78703,12,$60,3.4,el arroyo,1624 W 5th St Austin TX 78703
392,392,0.428571,2729,2272,184,$45,4.0,periyali,35 W 20th St New York NY 10011,11,$200,3.9,picholine,35 W 64th St New York NY 10023
393,393,0.428571,3237,1214,36,$45,4.5,king,18 King St New York NY 10014,18,$150,4.0,caf cluny,284 W 12th St New York NY 10014
394,394,0.428571,2309,567,145,$20,4.0,the octopus bar,2109 N 45th St Seattle WA 98103,26,$30,4.1,musashi's,1400 N 45th St Seattle WA 98103
395,395,0.428571,2876,2303,458,$45,4.0,raymi,43 W 24th St New York NY 10010,15,$60,3.9,ipanema,43 W 46th St New York NY 10036
396,396,0.428571,2182,1441,391,$20,3.5,kubota,593 N 5th St San Jose CA 95112,3,$45,2.5,swaad,498 N 13th St San Jose CA 95112
397,397,0.428571,3052,1228,16,$20,4.0,ghost donkey,4 Bleecker St New York NY 10012,16,$20,3.8,grom gelato,233 Bleecker St New York NY 10014
398,398,0.428571,3237,685,36,$45,4.5,king,18 King St New York NY 10014,31,$80,4.2,pearl oyster bar,18 Cornelia St New York NY 10014
399,399,0.428571,3033,3000,6,NaN,4.5,ousia,629 W 57th St New York NY 10019,16,$80,3.5,braai,329 W 51st St New York NY 10019

In [19]:
##Writing final candidate set to CSV file
em.to_csv_metadata(C4,'./C4_output.csv')

True

In [ ]:
G = em.label_table(S, 'gold_labels')

In [ ]:
G = em.label_table(S, label_col_name='gold_labels')

In [ ]:
train_test = em.split_train_test(G, train_proportion=0.5)

In [ ]:
devel_set = train_test['train']

In [ ]:
eval_set = train_test['test']

In [ ]:
match_t = em.get_tokenizers_for_matching()
match_s = em.get_sim_funs_for_matching()

In [ ]:
atypes1 = em.get_attr_types(A) # don't need, if atypes1 exists from blocking step
atypes2 = em.get_attr_types(B) # don't need, if atypes2 exists from blocking step

match_c = em.get_attr_corres(A, B)

In [ ]:
match_f = em.get_features_for_matching(A, B)

In [ ]:
em._match_t

In [ ]:
em._match_s

In [ ]:
em._atypes1

In [37]:
em._atypes2

{'ID': 'numeric',
 '_table':      number_of_reviews price_range ratingValue                         name  \
 0                   24         $20         4.6         la victoria taqueria
 1                   19         $40         4.6                  the counter
 2                   44         $20         4.9           falafel's drive-in
 3                   17         $40         4.4               new krung thai
 4                   28         $70         4.1               original joe's
 5                    6         $30         4.2                    adelita's
 6                   14         $65         4.0      maggiano's little italy
 7                   26         $40         4.4                blue rock bbq
 8                   16         $43         4.2              zeni ethiopian
 9                    9         $35         4.3              sam's bar-b-que
 10                  14         $65         4.0                  amber india
 11                  15         $75         4.1              henry's hi-life
 12                  13         $13         3.7                   yard house
 13                  12         $30         4.7              in-n-out burger
 14                  11         $45         4.2                 pizza antica
 15                   7         $43         4.0                     scramblz
 16                  12         $43         4.3           naglee park garage
 17                  10         $45         4.0                 aqui cal-mex
 18                   8         $80         4.3                         bj's
 19                  14         $40         4.3                   il fornaio
 20                  12         $25         4.0                  habana cuba
 21                   2         $60         4.1                         aqui
 22                   2         $50         3.1                     pieology
 23                  10         $45         3.7    blowfish sushi to die for
 24                  11         $40         3.7                      straits
 25                   5         $35         3.8            poor house bistro
 26                  27         $20         4.3                   p. terry's
 27                 129         $25         4.5           pike place chowder
 28                  38         $50         4.3        hyde park bar & grill
 29                  38         $40         4.0                  la barbecue
 ...                ...         ...         ...                          ...
 3214                14         $50         3.7                 uncle nick's
 3215                16         $60         4.0            caracas arepa bar
 3216                19         $60         3.8                 gustorganics
 3217                16        $150         3.6                       robert
 3218                 7         $50         2.9               the malt house
 3219                13        $120         3.9               joseph leonard
 3220                 9         $60         4.0               tortilla flats
 3221                13         $50         4.3                    saraghina
 3222                10         $80         4.1                    sugarcane
 3223                10         $20         4.0          best bagel & coffee
 3224                22         $40         4.0                neptune diner
 3225                 9         $65         3.2                        haldi
 3226                12         $75         3.7                  aurora soho
 3227                14         $60         4.3                zenon taverna
 3228                11         $60         3.4                 lantern thai
 3229                11        $120         3.6                    indochine
 3230                15         $40         3.7                ping seafood
 3231                13        $100         3.6             saxon and parole
 3232                20         $50         3.9                peacefood caf
 3233                20         $60         3.9                 tout va bien
 3234                11         $60         2.1               kailash parbat
 3235                15        $150         4.2        jack the horse tavern
 3236                 6         $70         3.8                   blaue gans
 3237                14         $40         3.5      panna ii garden indian
 3238                11        $100         3.9                     kanoyama
 3239                14         $40         4.0  sammy's noodle shop & grill
 3240                15         $15         4.0                        baked
 3241                16         $30         4.1               habana outpost
 3242                20        $105         4.5                   forlini's
 3243                15        $100         3.7               hecho en dumbo

                                                                           address  \
 0                                        140 East San Carlos St San Jose CA 95112
 1                       Santana Row 3055 Olin Avenue Suite 1035 San Jose CA 95128
 2                                       2301 Stevens Creek Blvd San Jose CA 95128
 3                                        640 S Winchester Blvd  San Jose CA 95128
 4                                            301 South First St San Jose CA 95113
 5                                           1896 Curtner Avenue San Jose CA 95124
 6                       Santana Row 3055 Olin Avenue Suite 1000 San Jose CA 95128
 7                                          3001 Meridian Avenue San Jose CA 95124
 8                                          1320 Saratoga Avenue San Jose CA 95129
 9                                      1110 South Bascom Avenue San Jose CA 95128
 10                                   377 Santana Row Suite 1140 San Jose CA 95128
 11                                          301 West St John St San Jose CA 95110
 12                                    300 Santana Row Suite 101 San Jose CA 95128
 13                                       5611 Santa Teresa Blvd San Jose CA 95123
 14                                              334 Santana Row San Jose CA 95128
 15                                      5055 Almaden Expressway San Jose CA 95118
 16                                       505 East San Carlos St San Jose CA 95112
 17                                            5679 Snell Avenue San Jose CA 95123
 18                     Westfield Oakridge 925 Blossom Hill Road San Jose CA 95123
 19                                             302 S Market St  San Jose CA 95113
 20                                                  238 Race St San Jose CA 95126
 21                                          1145 Lincoln Avenue San Jose CA 95125
 22                                           1095 E Brokaw Road San Jose CA 95131
 23                                              355 Santana Row San Jose CA 95128
 24                                              333 Santana Row San Jose CA 95128
 25                                               91 S Autumn St San Jose CA 95110
 26                                               404 S Lamar Blvd Austin TX 78704
 27                             Pike Place Market 1530 Post Alley Seattle WA 98101
 28                                                  4206 Duval St Austin TX 78751
 29                                         1906 E Cesar Chavez St Austin TX 78702
 ...                                                                           ...
 3214                                             747 9th Avenue New York NY 10019
 3215                                               291 Grand St Brooklyn NY 11211
 3216                                 519 Avenue of the Americas New York NY 10011
 3217  The Museum of Arts and Design 2 Columbus Circle 9th Floor New York NY 10019
 3218                                            206 Thompson St New York NY 10012
 3219                                          170 Waverly Place New York NY 10014
 3220                                          767 Washington St New York NY 10014
 3221                                              435 Halsey St Brooklyn NY 11233
 3222                                        238 Flatbush Avenue Brooklyn NY 11217
 3223                                              225 W 35th St New York NY 10001
 3224                                           31-05 Astoria Blvd Queens NY 11102
 3225                                    102 Lexington Avenue New York NY NY 10016
 3226                                              510 Broome St New York NY 10013
 3227                                            34-10 31st Avenue Queens NY 11106
 3228                                                     101 Montague St NY 11201
 3229                                           430 Lafayette St New York NY 10003
 3230                                                 22 Mott St New York NY 10013
 3231                                                 316 Bowery New York NY 10012
 3232                                       460 Amsterdam Avenue New York NY 10024
 3233                                              311 W 51st St New York NY 10019
 3234                                        99 Lexington Avenue New York NY 10016
 3235                                                66 Hicks St Brooklyn NY 11201
 3236                                               139 Duane St New York NY 10013
 3237                                              93 1st Avenue New York NY 10003
 3238                                             175 2nd Avenue New York NY 10003
 3239                                         453-461 6th Avenue New York NY 10011
 3240                                           359 Van Brunt St Brooklyn NY 11231
 3241                                              757 Fulton St Brooklyn NY 11217
 3242                                               93 Baxter St New York NY 10013
 3243                                                 354 Bowery New York NY 10012

         ID
 0        0
 1        1
 2        2
 3        3
 4        4
 5        5
 6        6
 7        7
 8        8
 9        9
 10      10
 11      11
 12      12
 13      13
 14      14
 15      15
 16      16
 17      17
 18      18
 19      19
 20      20
 21      21
 22      22
 23      23
 24      24
 25      25
 26      26
 27      27
 28      28
 29      29
 ...    ...
 3214  3214
 3215  3215
 3216  3216
 3217  3217
 3218  3218
 3219  3219
 3220  3220
 3221  3221
 3222  3222
 3223  3223
 3224  3224
 3225  3225
 3226  3226
 3227  3227
 3228  3228
 3229  3229
 3230  3230
 3231  3231
 3232  3232
 3233  3233
 3234  3234
 3235  3235
 3236  3236
 3237  3237
 3238  3238
 3239  3239
 3240  3240
 3241  3241
 3242  3242
 3243  3243

 [3244 rows x 6 columns],
 'address': 'str_bt_5w_10w',
 'name': 'str_bt_1w_5w',
 'number_of_reviews': 'str_eq_1w',
 'price_range': 'str_eq_1w',
 'ratingValue': 'str_eq_1w'}

In [38]:
em._match_c

{'corres': [('number_of_reviews', 'number_of_reviews'),
  ('price_range', 'price_range'),
  ('ratingValue', 'ratingValue'),
  ('name', 'name'),
  ('address', 'address'),
  ('ID', 'ID')],
 'ltable':       number_of_reviews price_range  ratingValue  \
 0                   125         $20          5.0
 1                  1041         $91          4.0
 2                   146         $20          4.5
 3                   266         $20          4.5
 4                   159         $20          4.5
 5                   287         $20          4.5
 6                  1210         $20          4.5
 7                   890         $20          4.0
 8                   772         $45          4.5
 9                   576         $20          4.5
 10                  192         $45          4.0
 11                  392         $20          4.0
 12                  165         $20          4.5
 13                  103         $20          5.0
 14                  379         $20          4.5
 15                  121         $20          4.5
 16                  142         $20          4.0
 17                   21         $20          5.0
 18                   67         $20          4.5
 19                 1322         $45          4.5
 20                   87         $20          4.5
 21                  209         $20          4.5
 22                   36         $20          4.0
 23                 2251         $20          4.0
 24                  110         $20          4.5
 25                  217         $20          4.5
 26                    7          $5          5.0
 27                  136         $20          4.5
 28                  780         $20          4.0
 29                  198         $20          4.0
 ...                 ...         ...          ...
 3218                235         $20          4.0
 3219                153         $20          4.5
 3220                 72          $5          4.0
 3221                 64         $20          4.0
 3222                 39          $5          4.5
 3223                 42          $5          5.0
 3224                282         $20          4.5
 3225                 97          $5          2.0
 3226                 62          $5          4.0
 3227                167          $5          4.0
 3228                 32         $20          4.5
 3229                475         $20          3.5
 3230                184          $5          4.5
 3231                 10          $5          4.5
 3232                132          $5          4.0
 3233                 55          $5          3.5
 3234                 37         $20          3.5
 3235                  8         $20          3.5
 3236                166          $5          4.5
 3237                 36         $45          4.5
 3238                217         $20          3.5
 3239                 45          $5          4.5
 3240                290          $5          3.5
 3241                  2         NaN          4.5
 3242                 68          $5          4.0
 3243                138          $5          3.5
 3244                300         $20          4.0
 3245                 31          $5          4.5
 3246                136         $20          3.0
 3247                 90         $20          4.5

                                    name  \
 0                               dee dee
 1                                canlis
 2                                gopoké
 3                      thursday kitchen
 4                                simple
 5                           dutch freds
 6                                  list
 7                  second bar + kitchen
 8                          barley swine
 9                        il corvo pasta
 10                          emmer & rye
 11                      reserve a table
 12           herb & bitter public house
 13                               kichin
 14                              karczma
 15                     excuse my french
 16       the factory - cafe with a soul
 17                                 post
 18                                mahji
 19                      reserve a table
 20                              win son
 21                           da claudio
 22                 waka ramen & izakaya
 23                           love mamak
 24                  samba kitchen & bar
 25             jack allen’s kitchen 360
 26                way south philly deli
 27                      reserve a table
 28                         roaring fork
 29                               corner
 ...                                 ...
 3218                    sushi bang bang
 3219                            el mate
 3220                 house park bar-b-q
 3221                    biryani-n-grill
 3222                         planet sub
 3223                         halal time
 3224                       veggie grill
 3225                           maudie’s
 3226                   72nd street cafe
 3227                      nollie’s cafe
 3228                      zinnia bistro
 3229             ocean delight seafood
 3230             tucci’s southside subs
 3231  julie’s food service and catering
 3232                    saigon’s bakery
 3233   rajjot indian cuisine and sweets
 3234                ernie’s on the lake
 3235         mangia chicago pizza style
 3236                    live oak market
 3237                               king
 3238                     taste of china
 3239             la mejor taqueria no 2
 3240                  a bite of wyoming
 3241                   com ga hang xanh
 3242  el rancho liquor store / taqueria
 3243                          tacomania
 3244                       puerto viejo
 3245                    st kilda coffee
 3246                      com 90 degree
 3247             chef eddie g’s kitchen

                                               address    ID
 0              1906 E Cesar Chavez St Austin TX 78702     0
 1                  2576 Aurora Ave N Seattle WA 98109     1
 2                      625 S King St Seattle WA 98104     2
 3                      424 E 9th St New York NY 10009     3
 4                   109 Eldridge St New York NY 10002     4
 5                     307 W 47th St New York NY 10036     5
 6                       2226 1st Ave Seattle WA 98121     6
 7                    200 Congress Ave Austin TX 78701     7
 8                      6555 Burnet Rd Austin TX 78757     8
 9                       217 James St Seattle WA 98104     9
 10                       51 Rainey St Austin TX 78701    10
 11                 1346 Lincoln Ave San Jose CA 95125    11
 12                    516 Broadway E Seattle WA 98102    12
 13                     297 Broadway Brooklyn NY 11211    13
 14               136 Greenpoint Ave Brooklyn NY 11222    14
 15                    96 Orchard St New York NY 10002    15
 16                     7718 Burnet Rd Austin TX 78757    16
 17                         42 Ave B New York NY 10009    17
 18                     617 Grand St Brooklyn NY 11211    18
 19                    558 Broome St New York NY 10013    19
 20                   159 Graham Ave Brooklyn NY 11206    20
 21                        21 Ann St New York NY 10038    21
 22                    432 E 13th St New York NY 10009    22
 23                      174 2nd Ave New York NY 10003    23
 24                      661 9th Ave New York NY 10036    24
 25    3600 North Capital of Texas Hwy Austin TX 78746    25
 26                     5222 Burnet Rd Austin TX 78756    26
 27                      327 2nd Ave New York NY 10003    27
 28               10850 Stonelake Blvd Austin TX 78759    28
 29                       110 E 2nd St Austin TX 78701    29
 ...                                               ...   ...
 3218              14005 North Hwy 183 Austin TX 78717  3218
 3219                   550 Court St Brooklyn NY 11231  3219
 3220                    900 W 12th St Austin TX 78703  3220
 3221         3601 W William Cannon Dr Austin TX 78749  3221
 3222                 906 Congress Ave Austin TX 78701  3222
 3223                    1501 E 6th St Austin TX 78702  3223
 3224                 446 Terry Ave N Seattle WA 98109  3224
 3225   Austin-Bergstrom Int'l Airport Austin TX 78719  3225
 3226                  308 NE 72nd St Seattle WA 98115  3226
 3227                1165 Harrison St Seattle WA 98109  3227
 3228                  1759 1st Ave S Seattle WA 98134  3228
 3229               5400 Monterey Rd San Jose CA 95111  3229
 3230          801 E William Cannon Dr Austin TX 78745  3230
 3231                 3939 Snell Ave San Jose CA 95136  3231
 3232             953 McLaughlin Ave San Jose CA 95122  3232
 3233             3327 San Felipe Rd San Jose CA 95135  3233
 3234                   5973 Hiline Rd Austin TX 78734  3234
 3235      3600 Presidential Boulevard Austin TX 78719  3235
 3236                 4410 Manchaca Rd Austin TX 78745  3236
 3237                     18 King St New York NY 10014  3237
 3238                1659 Branham Ln San Jose CA 95118  3238
 3239                  102 Willow St San Jose CA 95110  3239
 3240             2227 Alum Rock Ave San Jose CA 95116  3240
 3241                  1011 Story Rd San Jose CA 95122  3241
 3242                1401 Almaden Rd San Jose CA 95111  3242
 3243                672 Coleman Ave San Jose CA 95110  3243
 3244                  564 Grand Ave Brooklyn NY 11238  3244
 3245                  328 W 44th St New York NY 10036  3245
 3246                   999 Story Rd San Jose CA 95122  3246
 3247               1664 Park Avenue New York NY 10035  3247

 [3248 rows x 6 columns],
 'rtable':      number_of_reviews price_range ratingValue                         name  \
 0                   24         $20         4.6         la victoria taqueria
 1                   19         $40         4.6                  the counter
 2                   44         $20         4.9           falafel's drive-in
 3                   17         $40         4.4               new krung thai
 4                   28         $70         4.1               original joe's
 5                    6         $30         4.2                    adelita's
 6                   14         $65         4.0      maggiano's little italy
 7                   26         $40         4.4                blue rock bbq
 8                   16         $43         4.2              zeni ethiopian
 9                    9         $35         4.3              sam's bar-b-que
 10                  14         $65         4.0                  amber india
 11                  15         $75         4.1              henry's hi-life
 12                  13         $13         3.7                   yard house
 13                  12         $30         4.7              in-n-out burger
 14                  11         $45         4.2                 pizza antica
 15                   7         $43         4.0                     scramblz
 16                  12         $43         4.3           naglee park garage
 17                  10         $45         4.0                 aqui cal-mex
 18                   8         $80         4.3                         bj's
 19                  14         $40         4.3                   il fornaio
 20                  12         $25         4.0                  habana cuba
 21                   2         $60         4.1                         aqui
 22                   2         $50         3.1                     pieology
 23                  10         $45         3.7    blowfish sushi to die for
 24                  11         $40         3.7                      straits
 25                   5         $35         3.8            poor house bistro
 26                  27         $20         4.3                   p. terry's
 27                 129         $25         4.5           pike place chowder
 28                  38         $50         4.3        hyde park bar & grill
 29                  38         $40         4.0                  la barbecue
 ...                ...         ...         ...                          ...
 3214                14         $50         3.7                 uncle nick's
 3215                16         $60         4.0            caracas arepa bar
 3216                19         $60         3.8                 gustorganics
 3217                16        $150         3.6                       robert
 3218                 7         $50         2.9               the malt house
 3219                13        $120         3.9               joseph leonard
 3220                 9         $60         4.0               tortilla flats
 3221                13         $50         4.3                    saraghina
 3222                10         $80         4.1                    sugarcane
 3223                10         $20         4.0          best bagel & coffee
 3224                22         $40         4.0                neptune diner
 3225                 9         $65         3.2                        haldi
 3226                12         $75         3.7                  aurora soho
 3227                14         $60         4.3                zenon taverna
 3228                11         $60         3.4                 lantern thai
 3229                11        $120         3.6                    indochine
 3230                15         $40         3.7                ping seafood
 3231                13        $100         3.6             saxon and parole
 3232                20         $50         3.9                peacefood caf
 3233                20         $60         3.9                 tout va bien
 3234                11         $60         2.1               kailash parbat
 3235                15        $150         4.2        jack the horse tavern
 3236                 6         $70         3.8                   blaue gans
 3237                14         $40         3.5      panna ii garden indian
 3238                11        $100         3.9                     kanoyama
 3239                14         $40         4.0  sammy's noodle shop & grill
 3240                15         $15         4.0                        baked
 3241                16         $30         4.1               habana outpost
 3242                20        $105         4.5                   forlini's
 3243                15        $100         3.7               hecho en dumbo

                                                                           address  \
 0                                        140 East San Carlos St San Jose CA 95112
 1                       Santana Row 3055 Olin Avenue Suite 1035 San Jose CA 95128
 2                                       2301 Stevens Creek Blvd San Jose CA 95128
 3                                        640 S Winchester Blvd  San Jose CA 95128
 4                                            301 South First St San Jose CA 95113
 5                                           1896 Curtner Avenue San Jose CA 95124
 6                       Santana Row 3055 Olin Avenue Suite 1000 San Jose CA 95128
 7                                          3001 Meridian Avenue San Jose CA 95124
 8                                          1320 Saratoga Avenue San Jose CA 95129
 9                                      1110 South Bascom Avenue San Jose CA 95128
 10                                   377 Santana Row Suite 1140 San Jose CA 95128
 11                                          301 West St John St San Jose CA 95110
 12                                    300 Santana Row Suite 101 San Jose CA 95128
 13                                       5611 Santa Teresa Blvd San Jose CA 95123
 14                                              334 Santana Row San Jose CA 95128
 15                                      5055 Almaden Expressway San Jose CA 95118
 16                                       505 East San Carlos St San Jose CA 95112
 17                                            5679 Snell Avenue San Jose CA 95123
 18                     Westfield Oakridge 925 Blossom Hill Road San Jose CA 95123
 19                                             302 S Market St  San Jose CA 95113
 20                                                  238 Race St San Jose CA 95126
 21                                          1145 Lincoln Avenue San Jose CA 95125
 22                                           1095 E Brokaw Road San Jose CA 95131
 23                                              355 Santana Row San Jose CA 95128
 24                                              333 Santana Row San Jose CA 95128
 25                                               91 S Autumn St San Jose CA 95110
 26                                               404 S Lamar Blvd Austin TX 78704
 27                             Pike Place Market 1530 Post Alley Seattle WA 98101
 28                                                  4206 Duval St Austin TX 78751
 29                                         1906 E Cesar Chavez St Austin TX 78702
 ...                                                                           ...
 3214                                             747 9th Avenue New York NY 10019
 3215                                               291 Grand St Brooklyn NY 11211
 3216                                 519 Avenue of the Americas New York NY 10011
 3217  The Museum of Arts and Design 2 Columbus Circle 9th Floor New York NY 10019
 3218                                            206 Thompson St New York NY 10012
 3219                                          170 Waverly Place New York NY 10014
 3220                                          767 Washington St New York NY 10014
 3221                                              435 Halsey St Brooklyn NY 11233
 3222                                        238 Flatbush Avenue Brooklyn NY 11217
 3223                                              225 W 35th St New York NY 10001
 3224                                           31-05 Astoria Blvd Queens NY 11102
 3225                                    102 Lexington Avenue New York NY NY 10016
 3226                                              510 Broome St New York NY 10013
 3227                                            34-10 31st Avenue Queens NY 11106
 3228                                                     101 Montague St NY 11201
 3229                                           430 Lafayette St New York NY 10003
 3230                                                 22 Mott St New York NY 10013
 3231                                                 316 Bowery New York NY 10012
 3232                                       460 Amsterdam Avenue New York NY 10024
 3233                                              311 W 51st St New York NY 10019
 3234                                        99 Lexington Avenue New York NY 10016
 3235                                                66 Hicks St Brooklyn NY 11201
 3236                                               139 Duane St New York NY 10013
 3237                                              93 1st Avenue New York NY 10003
 3238                                             175 2nd Avenue New York NY 10003
 3239                                         453-461 6th Avenue New York NY 10011
 3240                                           359 Van Brunt St Brooklyn NY 11231
 3241                                              757 Fulton St Brooklyn NY 11217
 3242                                               93 Baxter St New York NY 10013
 3243                                                 354 Bowery New York NY 10012

         ID
 0        0
 1        1
 2        2
 3        3
 4        4
 5        5
 6        6
 7        7
 8        8
 9        9
 10      10
 11      11
 12      12
 13      13
 14      14
 15      15
 16      16
 17      17
 18      18
 19      19
 20      20
 21      21
 22      22
 23      23
 24      24
 25      25
 26      26
 27      27
 28      28
 29      29
 ...    ...
 3214  3214
 3215  3215

In [ ]:
H = em.extract_feature_vecs(G, match_f, attrs_before=['title'], attrs_after=['gold_labels'])

In [ ]:
H = em.extract_feature_vecs(G, features=match_f, attrs_before=['title'], attrs_after=['gold_labels'])

In [ ]:
H.fillna(value=0, inplace=True)

In [ ]:
dt = em.DTMatcher(max_depth=5)

In [ ]:
dt.fit(table=H, exclude_attrs=['_id', 'ltable_id', 'rtable_id'], target_attr='gold_labels')

In [ ]:
dt.predict(table=H, exclude_attrs=['_id', 'ltable_id', 'rtable_id'], target_attr='predicted_labels', append=True, inplace=True)

In [ ]:
train_test = em.split_train_test(devel, 0.5)

In [ ]:
train, test = train_test['train'], train_test['test']

In [ ]:
em.vis_debug_dt(dt, train, test, exclude_attrs=['_id', 'ltable_id', 'rtable_id'], target_attr='gold_labels')